<!DOCTYPE html>
<html>
<head>
<title>Giggity</title>
<meta name="description" content="Giggity">
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
<div class='navbar navbar-fixed-top'>
<div class='navbar-inner'>
<div class='container'>
<ul class='nav pull-left'>
<li style='position: relative; top: 10px'>
<form accept-charset="UTF-8" action="/searches" class="new_search" id="new_search" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ikBU3/4D9xl3PIOyz/h9solvEWwS1Fe2vO2Kw7BLcKU=" /></div>
<input class="search-query span2" id="search_query" name="search[query]" placeholder="search" size="30" type="text" />
</form>
</li>
</ul>
<%= link_to image_tag('logo.png', width: 200, id: "logo"), root_path %>
<ul class='nav pull-right'>
<li class='dropdown'>
<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
Mike Booker
<b class='caret'></b>
</a>
<ul class='dropdown-menu'>
<li></li>
<li><a href="/logout">Logout</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
<div class='row'>
<div class='span7'>
<div class='well' style='height: 435px; overflow: auto'>
<h4>Mike Booker</h4>
<p>Everything looks pretty good to our team over here.  Sounds like we're good to go.  Just confirm the price and we can finalize this thing.</p>
<em class='offset3 pull-right'>sent less than a minute ago</em>
<h4>Mike Booker</h4>
<p>Hey!  Would you guys be willing to perform at a venue in Syracuse?</p>
<em class='offset3 pull-right'>sent about 7 hours ago</em>
<h4>Shav and Mentos</h4>
<p>Yeah, that'd be great.  We love Syracuse.  Let's work out the details now.</p>
<em class='offset3 pull-right'>sent about 7 hours ago</em>
<h4>Mike Booker</h4>
<p>Great.  How much do you think you'd want?</p>
<em class='offset3 pull-right'>sent 7 minutes ago</em>
<h4>Shav and Mentos</h4>
<p>We could probably do it for $1,500.  How does that sound?  And are you paying for transportation?</p>
<em class='offset3 pull-right'>sent 4 minutes ago</em>
<h4>Mike Booker</h4>
<p>That is a bit out of my price range.  How about you do it for $1,200 but we pay for transportation.  Is there anything else you guys need?</p>
<em class='offset3 pull-right'>sent 3 minutes ago</em>
<h4>Shav and Mentos</h4>
<p>We could probably roll with that.  This is going to be great.  Just check out our contract stipulations on the right though.  Any issue with it?</p>
<em class='offset3 pull-right'>sent 1 minute ago</em>
</div>
<form accept-charset="UTF-8" action="/messages" class="new_message" id="new_message" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ikBU3/4D9xl3PIOyz/h9solvEWwS1Fe2vO2Kw7BLcKU=" /></div>
<textarea class="input-block-level" cols="40" id="message_content" name="message[content]" rows="3">
</textarea>
<input id="message_user_id" name="message[user_id]" type="hidden" value="47" />
<input id="message_to_id" name="message[to_id]" type="hidden" value="60" />
<input id="message_conversation_id" name="message[conversation_id]" type="hidden" value="15" />
<input class="btn btn-primary btn-block btn-large" name="commit" type="submit" value="Reply" />
</form>
</div>
<div class='span5'>
<div class='well center' style='height: 580px; overflow: auto'>
<h1 class='well-title'>Details</h1>
<form accept-charset="UTF-8" action="/conversations/15" class="edit_conversation" id="edit_conversation_15" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="ikBU3/4D9xl3PIOyz/h9solvEWwS1Fe2vO2Kw7BLcKU=" /></div>
<label for="conversation_location">Location:</label>
<input class="center" id="conversation_location" name="conversation[location]" size="30" type="text" value="Mike's Bar" />
<br>
<label for="conversation_date">Date:</label>
<input class="center" id="conversation_date" name="conversation[date]" size="30" type="text" value="4/23/13" />
<br>
<label for="conversation_time">Time:</label>
<input class="center" id="conversation_time" name="conversation[time]" size="30" type="text" value="8:30 PM" />
<br>
<br>
<label for="conversation_rider">Rider / Contract:</label>
<textarea class="input-block-level" cols="40" id="conversation_rider" name="conversation[rider]" rows="4">
Performer will arrive on time and perform for the allotted amount of time.  There will be minimal interruptions to music, and ample time to play.  &#x000A;&#x000A;If there are any issues with the contract, they should be directed towards the management of the venue.&#x000A;&#x000A;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu lacus orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi volutpat volutpat quam, ut lacinia eros semper a. Pellentesque id nulla a nisl posuere bibendum. Suspendisse nisl erat, pulvinar et cursus at, vestibulum nec purus. Vivamus at hendrerit metus. Aenean blandit luctus lectus, auctor varius massa hendrerit sed. Cras mattis metus eu felis auctor fringilla. Fusce dui dui, semper quis imperdiet sit amet, pretium a nibh. Maecenas porta vulputate justo. Integer vestibulum faucibus mauris, in aliquet lorem iaculis tempor. Duis condimentum, felis in pellentesque blandit, nisl mi commodo libero, accumsan rhoncus lacus est pellentesque nisi. In vehicula urna quis dui ornare tincidunt. Mauris condimentum mauris a augue consectetur ut aliquet justo dignissim. In quis turpis purus, venenatis mollis metus.</textarea>
<br>
<label for="conversation_price">Current negotiated price:</label>
<div class='input-prepend'>
<span class='add-on' style='color: black'>$</span>
<input class="span1 center" id="appendedPrependedInput" name="conversation[price]" size="30" type="text" value="1200" />
</div>
*Shav and Mentos has not yet approved this price.
<br>
<br>
<input class="btn btn-info btn-block btn-large" name="commit" type="submit" value="Update Details" />
</form>
</div>
</div>
</div>
<hr>
<div class='row'>
<div class='span12'>
<div class='well center'>
<br>
<h4>After performance has occurred, please write a review:</h4>
<form accept-charset="UTF-8" action="/reviews" class="new_review" id="new_review" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ikBU3/4D9xl3PIOyz/h9solvEWwS1Fe2vO2Kw7BLcKU=" /></div>
<br>
<label for="review_content">Review:</label>
<textarea class="span4" cols="40" id="review_content" name="review[content]" rows="3">
</textarea>
<input id="review_booker_id" name="review[booker_id]" type="hidden" value="47" />
<input id="review_performer_id" name="review[performer_id]" type="hidden" value="60" />
<label for="review_score">Score (out of 10):</label>
<input class="span1" id="review_score" name="review[score]" type="number" />
<br>
<br>
<input class="btn btn-success btn-large" name="commit" type="submit" value="Publish Review" />
</form>
</div>
</div>
</div>
<%= render 'layouts/footer' %>

</div>
</body>
</html>
