.hero-unit.center
  %h2
    An online booking platform for Live
    = link_to 'Performers', search_users_path
.row
  .span8
    %iframe{width: 560, height: 315, src:"http://www.youtube.com/embed/ENh0jPjJj4c", frameborder:0, allowfullscreen:true}
  .span4
    = form_for(resource, as: resource_name, validate: true, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      = f.text_field :username, validate: {presence: true, :uniqueness => true}, placeholder: "Username", class: "input-block-level"
      = f.email_field :email, :validate => { :presence => true}, placeholder: "Email Address", class: "input-block-level"
      = f.password_field :password, :validate => { :presence => true, :confirmation => true}, placeholder: "Password", class: "input-block-level"
      = f.password_field :password_confirmation, :validate => { :presence => true }, placeholder: "Password Confirmation", class: "input-block-level"
      .radios
        = f.label :newrole_booker, {class:"radio inline"} do
          = f.radio_button :newrole, "booker"
          Booker
        = f.label :newrole_performer, {class:"radio inline"} do
          = f.radio_button :newrole, "performer"
          Performer
      = f.submit "Sign up", class: "btn btn-block btn-success btn-large"