.hero-unit.center
  %h2
    An online booking platform for student groups and independent performers.
  = render 'users/search'
.row.center.top-buffer
  .span2
    .row{style:"margin-top:30px"}
      .span1
        Click to view all performers
      .span1
        .arrow{rel: 90}
  .span4
    %h2 
      = link_to 'Performers', search_users_path
    %p Are you a musician, comedian, or another type of live performer? Sign up and start getting more gigs at universities around you!
  .span4.offset1
    %h2 University Groups
    %p Do you belong to a club, committee, or organization at your university? Sign up to find and book live performers for your next event!
%br
.row
  .span12
    .row
      .span4
        %h2 Sign up
        = render 'users/form'
      .span4= image_tag("try_it.png")
      .span4
        %h2 Sign in
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          = f.text_field :username, autofocus: true, placeholder: "username"
          = f.password_field :password, placeholder: "password"
          %br
          = link_to "Forgot password?", new_password_path(resource_name)
          = f.submit "login", class: "btn btn-block btn-primary btn-large"