.hero-unit.center
  %h2
    An online booking platform for student groups and independent performers.
  = render 'users/search'
.row.center.top-buffer
  .span2
    .row{style:"margin-top:30px"}
      .span1
        Click to view all performers
      .span1
        .arrow{rel: 90}
  .span4
    %h2 
      = link_to 'Performers', search_users_path
    %p Are you a musician, comedian, or another type of live performer? Sign up and start getting more gigs at universities around you!
  .span4.offset1
    %h2 University Groups
    %p Do you belong to a club, committee, or organization at your university? Sign up to find and book live performers for your next event!
%br
.row
  .span12
    .row
      .span4
        %h3 JOIN
        = form_for(resource, as: resource_name, validate: true, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          = f.text_field :username, validate: {presence: true, :uniqueness => true}, placeholder: "username", class: "input-block-level"
          = f.email_field :email, :validate => { :presence => true}, placeholder: "email", class: "input-block-level"
          = f.password_field :password, :validate => { :presence => true, :confirmation => true}, placeholder: "password", class: "input-block-level"
          = f.password_field :password_confirmation, :validate => { :presence => true }, placeholder: "password confirmation", class: "input-block-level"
          = f.radio_button :newrole, "performer"
          = f.label :newrole_performer, "Performer"
          = f.radio_button :newrole, "booker"
          = f.label :newrole_booker, "Booker"
          = f.submit "Signup", class: "btn btn-block btn-primary btn-large"
      .span4= image_tag("try_it.png")
      .span4
        %h3 LOGIN
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          = f.text_field :username, autofocus: true, placeholder: "username"
          = f.password_field :password, placeholder: "password"
          %br
          = link_to "Forgot password?", new_password_path(resource_name)
          = f.submit "login", class: "btn btn-block btn-primary btn-large"