= form_tag search_users_path, :method => 'get', class: "form-inline" do
      = label_tag "query", "Search: "
      = text_field_tag "query", params[:query], placeholder: "Query"
      = select_tag "category_id", options_for_select(Category.all.collect {|x| [x.name, x.id]})
      = text_field_tag "price", params[:price], placeholder: "Price", class: "input-small"
      = text_field_tag "address", params[:address], placeholder: "Near to", class: "address-picker-input"
      = submit_tag "Search", :name => nil