%tr{:onclick => "location.href ='#{user_path(user)}'"}
  %td= image_tag performer_pic(user)
  %td= user.display_name
  %td= user.category.name unless !user.category
  %td= user.subcategory
  %td= user_price_range(user)
  %td= user.score