= render 'modals/contact'
.row
  .span3{style: "text-align: center;"}
    .picture{style: "position: relative; top: -5px; left: 2px"}= image_tag profpic(@user), class: "img-rounded"
  .span5{style: "position: relative; top: -5px"}
    %h1= @user.display_name
    %em{style: "position: relative; top: -5px; left: 3px"}= user_category(@user)
    %br
    - if @user.score != nil
      %em{style: "position:relative; left: 2px; top: 5px"}="rating: #{user_rating @user}"
  - if user_signed_in?
    - if can? :update, @user
      .span4.pull-right{style: "text-align: right"}
        = link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-info btn-large", style: "position: relative; top: 15px"
    - else
      %a.btn.btn-success.btn-large{type: "button", data:{toggle: :modal, target: "#contact"}, style: "position: relative; top: 15px"} Book a Gig
.row
  .span12
    .well#blurb
      = @user.blurb
- if @songs.any? and @videos.any?
  .row
    .span4
      .well#songs
        %h3.well-title Songs
        = render @songs
    .span8
      .well#videos
        %h3.well-title Videos
        = render @videos
- elsif @songs.any?
  .row
    .span12
      .well#songs
        %h3.well-title Songs
        = render @songs
- elsif @videos.any?
  .row
    .span12
      .well#videos
        %h3.well-title Videos
        = render @videos

- if @photos.any?
  .row
    .span12
      .well#photos
        %h3.well-title Photos
        = render @photos

- if @reviews.any?
  .row
    .span12
      .well#reviews
        %h3.well-title Reviews
        .rowmodals
          .span8.offset2{style: "text-align: left"}
            = render @reviews

- if @posts.any? or can? :create, @user.posts.new
  .row
    - if @posts.any?
      .span12
        .well#updates
          %h3.well-title Updates
          = render @posts
    - if can? :create, @user.posts.new
      = render 'posts/form'