%h1.center Gigs

%h2 Pending Gigs
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= @opposite_type
      %th Last Message
      %th Last Update
  %tbody
    - @pending_gigs.each do |gig|
      %tr{:onclick => "location.href ='#{url_for(gig)}'"}
        %td.center= gig.opposite(@user).display_name
        %td.center= gig.messages.last.content unless !gig.messages.last
        %td
          %em= "#{time_ago_in_words(gig.updated_at)} ago"
%br
%h2 Completed Gigs
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= @opposite_type
      %th Last Message
      %th Last Update
  %tbody
    - @completed_gigs.each do |gig|
      %tr{:onclick => "location.href ='#{url_for(gig)}'"}
        %td.center= gig.performer.display_name
        %td.center= gig.messages.last.content
        %td
          %em= "#{time_ago_in_words(gig.updated_at)} ago"