= form_for @user do |f|

      = f.label :display_name
      = f.text_field :display_name, class: "input-block-level"

      = f.label :email
      = f.text_field :email, class: "input-block-level"

      = f.label :category_id, "Gig category"
      = f.select :category_id, Category.all.collect {|x| [x.name, x.id]}
      = f.label :subcategory, "Subcategory (musical genre, type of comedy, etc.)"
      = f.text_field :subcategory

      = f.label :blurb, "Blurb (performers only)"
      = f.text_area :blurb, rows: 3, class: "input-block-level"

      = f.label :profile_picture, "Picture (performers only)"
      = f.file_field :profile_picture
      %br
      %br
      = f.submit "Update profile", class: "btn btn-primary btn-block btn-large"